html, body{
  overflow: hidden;
  margin: 0;
  padding:0;
}

.main {
  margin: auto;
  margin-top: 20vh;
  width: 400px;
  height: 440px;
  border-style: solid;
  border-width: thin;
  border-color:black;
  position:relative;
  border-radius:15px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 15px;
}

.button {
  position:absolute;
  font-family:serif;
  border-style:thin;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
  width: 75px;
  padding: 5px 15px;
  font-style: italic;
  font-style:lighter;
  margin-left: 10px;
  bottom:10px;
}
canvas {
  width: 290px;
  height: 28px;
}
img {
  border-radius: 15px;
  width:380px;
  height:380px;
  object-fit: cover;
  box-shadow: 3px 3px 3px black;
}

.poster {
  position:absolute;
  width:320;
  height:320;
  margin:10px;
}

.player {
  border-style: solid;
  border-width: thin;
  position:absolute;
  bottom:10px;
  right: 10px;
  border-radius:15px;
  box-shadow: 3px 3px 3px black;
}

p {
  color:black;
  line-height: normal;
  font-family:times;
  font-weight:lighter;
  font-size: 14px;
  margin:0px;
}

.description {
  margin: auto;
  width: 400px;
  text-align: right;
  position:relative;
}

.daycycle {
  text-shadow: 1px 1px 1px grey;
  margin: auto;
  width: 400px;
  text-align: center;
  position:relative;
  top: 19vh;
}


@media only screen and (max-width: 800px) {
  canvas {
    width: 190px;
    height: 28px;
  }
  .daycycle {
    text-shadow: 1px 1px 1px grey;
    margin: auto;
    width: 300px;
    text-align: center;
    position:relative;
    top: 19vh;
  }
  .poster {
    position:absolute;
    width:220;
    height:220;
    margin:10px;
  }
  img {
    border-radius: 15px;
    width:280px;
    height:280px;
    object-fit: cover;
    box-shadow: 3px 3px 3px black;
  }
  .main {
    margin: auto;
    margin-top: 20vh;
    width: 300px;
    height: 340px;
    border-style: solid;
    border-width: thin;
    border-color:black;
    position:relative;
    border-radius:15px;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 15px;
  }
  .description {
    margin: auto;
    width: 300px;
    text-align: right;
    position:relative;
  }
  
}